/* basic section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f2eeff;
  --brand: #7c3aed;
  --accent: #ec4899;
  --text: #333;
  --text-blue: #001cf1;
  --text-black: black;
  --btn-primary: #651fff;
}

body {
  background-color: #ffffff;
  color: var(--text);
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
}

/* Apply Montserrat to all heading levels */
h1,
h2,
h3,
h4,
h5,
h6,
.btn-primary {
  font-family: 'Montserrat', sans-serif;
}

.services h2,
.testimonials h2,
.states h2,
.abouts h2,
.projects h2 {
  font-size: 50px;
  font-weight: 600;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

/* Header-nav section*/
header {
  background-color: var(--bg);
  padding: 0rem 0;
}

.hamburger-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  width: 45px;
  height: 40px;
  background-color: var(--btn-primary);
  border: none;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.hamburger-btn span {
  display: block;
  width: 70%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}

/* --- POP-UP MENU --- */
.popup-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  max-width: 800px;
  background-color: #0a0f1a;
  color: #fff;
  z-index: 1000;
  padding: 18rem 2rem;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.popup-menu.active {
  transform: translateX(0);
}

/* close button */
.btn-close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6600ff;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-nav h1 {
  font-size: 60PX;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding: 0rem 4rem;
}

.popup-nav ul {
  list-style: none;
}

.popup-nav li {
  margin-bottom: 1rem;
}

.popup-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 35PX;
  font-weight: 1000;
  display: inline-block;
  padding: 0rem 4rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* --- Mobile Styles using a Media Query --- */

@media (max-width: 767px) {
  .popup-nav h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    text-align: right;
    padding-right: 0rem;
  }

  .popup-nav a {
    font-size: 1.25rem;
    padding: 0.4rem 0rem;
    display: block;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
  }

  .popup-nav li {
    margin-bottom: 0.5rem;
  }
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 2rem;
  min-height: 90vh;
  background-color: var(--bg);
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    flex-direction: row;
    padding: 5rem 4rem;
  }
}

.hero-text {
  max-width: 500px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-text {
    text-align: left;
  }
}

.highlight {
  color: var(--accent);
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-text p {
  color: var(--text-black);
  margin-bottom: 1.5rem;
  line-height: 1.1;
  font-weight: 500;
}

.myname p {
  color: var(--text-blue);
  margin-bottom: 0rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .buttons {
    justify-content: flex-start;
  }
}

.btn-primary {
  background-color: var(--btn-primary);
  color: white;
  text-decoration: none;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  font-weight: 500;
  transition: background 0.3s;
}

.button-secondary {
  background-color: var(--bg);
  color: rgb(76, 0, 255);
  text-decoration: none;
  padding: .4rem 1.7rem;
  border-radius: 999px;
  font-weight: 500;
  transition: background 0.3s;
  border: 2px solid var(--btn-primary);
}

.btn-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--brand);
  background-color: var(--bg);
  padding: .2rem 0.85rem;
  border-radius: 50%;
  border: 3px solid var(--btn-primary);
  text-decoration: none;
  transition: background 0.3s, transform 0.2s;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 1.5rem;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Services Section */

.services {
  padding: 5rem 0;
  background-color: var(--bg);
  text-align: center;
}

.services h2 {
  margin-bottom: 3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.service-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.service {
  background-color: var(--bg);
  padding: 1rem;
  transition: transform 0.3s ease;
  text-align: left;
  border-radius: 16px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon i {
  color: #fff;
  font-size: 24px;
}

.service h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.service p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .service-container {
    grid-template-columns: 1fr;
  }

  .service {
    text-align: center;
  }

  .icon {
    margin-left: auto;
    margin-right: auto;
  }

  .service:nth-child(1) {
    background-color: #91aeff;
  }

  .service:nth-child(1) .icon {
    background-color: #3b82f6;
  }

  .service:nth-child(2) {
    background-color: #d7fbe8;
  }

  .service:nth-child(2) .icon {
    background-color: #10b981;
  }

  .service:nth-child(3) {
    background-color: #e9d7fc;
  }

  .service:nth-child(3) .icon {
    background-color: #8b5cf6;
  }
}

/* testimonials section */
.testimonials {
  padding: 5rem 2rem;
  text-align: center;
  background-color: var(--bg);
}

.testimonials h2 {
  margin-bottom: 5rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  justify-items: center;
}

@media (min-width: 768px) {
  .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.testimonial {
  position: relative;
  width: 250px;
  box-shadow: 0 20px 40px rgba(138, 143, 177, 0.1);
}

.about-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-card .about-img {
  position: static;
  transform: none;
  display: block;
  margin: 0 auto 1.5rem auto;
}

.testimonial h3 {
  font-weight: 700;
  margin-top: 3.5rem;
  margin-bottom: 0.01rem;
}

.testimonial h5 {
  color: #776f6f;
  font-weight: 550;
  margin-bottom: 0.1rem;
}

.testimonial p {
  font-size: .87rem;
  color: #000000;
  line-height: 1.1;
  padding: 0 0.5rem;
}

.card1 {
  background-color: var(--bg);
  box-shadow: 0 0 40px rgba(76, 0, 255, 0.1);
  border-top-left-radius: 50px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 50px;
  height: 320px;
}

.card2 {
  background-color: var(--bg);
  box-shadow: 0 0 40px rgba(76, 0, 255, 0.1);
  border-top-left-radius: 150px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  width: 350px;
  height: 270px;
}

.card3 {
  background-color: var(--bg);
  box-shadow: 0 0 40px rgba(76, 0, 255, 0.1);
  border-top-left-radius: 50px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 50px;
  height: 270px;
}

/* states sections */

.states {
  padding: 5rem 2rem;
  background-color: var(--bg);
}

.states h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.states-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
}

.state-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
}

@media (min-width: 768px) {
  .state-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.state:nth-child(1) {
  background-color: #f6f1a8;
}

.state:nth-child(2) {
  background-color: #99f0c6;
}

.state:nth-child(3) {
  background-color: #b99cf9;
}

.state {
  padding: 2rem;
  transition: transform 0.3s;
}

.state h5 {
  font-weight: 700;
  margin-bottom: 0.1rem;
  text-align: left;
  font-size: 16px;
}

.state h3 {

  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 60px;
}

.state p {
  font-size: 0.85rem;
  color: #000000;
  font-weight: 500;
}

/* about section */

.abouts {
  padding: 5rem 0;
  background-color: var(--bg);
}

.abouts h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.about-grid-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  align-items: center;
  height: auto;
}

.about-card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: 0 0 40px rgba(76, 0, 255, 0.1);
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.about-intro-text {
  padding-bottom: 10%;
}

.about-content {
  width: 100%;
  text-align: center;
}

.about-content h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.about-content p {
  font-weight: 500;
  line-height: 1.2;
}

.about-bio {
  color: #555;
  line-height: 1.8;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .abouts {
    padding: 5rem 3rem;
  }

  .about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  .about-content {
    text-align: left;
  }

  .about-content h3 {
    text-align: left;
  }
}

/* projects section */

.projects {
  padding: 5rem 2rem;
  background-color: var(--bg);
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 100%;
  align-items: center;
}

.project-paragraph {
  padding-top: 3%;
  padding-bottom: 5%;
  font-weight: 500;
  line-height: 1.1;
  color: #555;
}

.projects h2 {
  margin-bottom: 3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-image {
  width: 350px;
  flex-shrink: 0;
}

.project-image img {
  height: 400px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-right: -200px;
}

.project-card.reverse .project-image img {
  margin-right: 0;
  margin-left: -200px;
}

.project-info {
  background: var(--bg);
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.project-info h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.button-secondary:hover {
  background: var(--btn-primary);
  color: #fff;
}

@media (max-width: 768px) {

  .project-card,
  .project-card.reverse {
    flex-direction: column;
    align-items: center;
  }

  .project-image,
  .project-info {
    width: 100%;
    max-width: 350px;
  }

  .project-image img,
  .project-card.reverse .project-image img {
    margin: 0;
  }

  .project-info {
    text-align: center;
    margin-top: -50px;
  }

  .project-paragraph {
    margin-bottom: 1.5rem;
    padding-bottom: 0;
  }

  .project-buttons {
    justify-content: center;
  }

  .project-buttons .btn-primary {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }

  .project-buttons .button-secondary {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }
}

/* Main Footer Styling */
footer {
  background-color: #3f1092;
  color: #e0d7ff;
  padding: 3rem 2rem 0.5rem 2rem;
  font-size: 0.9rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 0 auto 3rem;
}

@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: 1.5fr repeat(3, 1fr);
  }
}

.footer-col h4 {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer-col ul {
  list-style: none;
  padding-left: 0;
}

.footer-col li {
  margin-bottom: 0rem;
}

.footer-col a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.2rem;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.footer-logo {
  color: #3f1092;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.social-links .links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.8rem 1.5rem;
  justify-content: start;
}


.footer-bottom {
  background-color: #2d0a68;
  color: #e0d7ff;
  padding: 0.3rem;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-col a:hover {
  background: white;
  color: #1900ff;
  animation: shake 0.3s;
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }
}

@media (max-width: 767px) {
  .footer-logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col {
    text-align: center;
  }

  .social-links .links {
    justify-content: center;
  }
}

.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;

  background-color: #ffffff;
  color: #2d0a68;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.scroll-top.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}